<div class="container">
  <div >
    <span><strong>Total de Clientes: {{quantityClients}}</strong></span>
    <span><strong>Total de empreendimentos: {{quantityEnterprise}}</strong></span>
    <span><strong>Total de imóveis: {{quantityProperties}}</strong></span>
  </div>
  <div >
    <div>Buscar por nome:</div>
        <div>
          <input  (keyup)="getClient($event.target.value)" >
    </div>
  </div>
  <div class="card-">
  <div  *ngFor="let item of clients let i=index">
    <div >
      <strong >
        <span  >Cliente: {{item.name}}</span>
        <span> Id Cliente: {{item.id}}</span>
      </strong>
    </div>

    <div >
      <img src='https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/Manchester_City_FC_badge.svg/1200px-Manchester_City_FC_badge.svg.png' width="200" height="200">
      <div >
        <span><strong>quantidade de empreendimentos: {{item.quantity_enterprise}}</strong></span><br>
        <span><strong>quantidade de imóveis: {{item.quantity_properties}}</strong></span>
        <div >
          <button [routerLink]="['/client',item.id]">Detalhes do cliente</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
