<div *ngIf="hidenClients"  class="container">
  <div>
    <div class="card-totals">
      <span>Total de Clientes: {{quantityClients}}</span>
      <span>Total de empreendimentos: {{quantityEnterprise}}</span>
      <span>Total de imóveis: {{quantityProperties}}</span>
    </div>
    <div class="search-client">
      <span>Buscar: </span>
      <input (keyup)="getClient($event.target.value)">
    </div>
    <div >
    <div class="card-clients"  *ngFor="let item of clients let i=index">
      <div class="data-client">
        <span >Id : {{item.id}}</span>
        <span >{{item.name}}</span>
        <span >Empreendimentos: {{item.quantity_enterprise}}</span>
        <span *ngIf="test" >Imóveis: {{item.quantity_properties}}</span>
        <div *ngIf="!test">
          <table class="table">
            <tr>
                <td><strong>Cliente:</strong></td>
                <td><strong> Qnt. imóveis:</strong></td>
            <tr *ngFor="let enterprise of item.clients">
                <td>{{enterprise.name}}</td>
                <td>{{enterprise.quantity_properties}}</td>
            </tr>
          </table>
        </div>
        <button class="btn-more-details" (click)="showMoreDetails()"  [routerLink]="['/client',item.id]">Mais detalhes</button>
      </div>
      <div class="image">
        {{item.image}}
        <img  src = item.image>
      </div>
    </div>
    </div>
  </div>
</div>
<div *ngIf="spinner" class="spinner"></div>
<router-outlet></router-outlet>
