<div class="class-custumer">
  <div class="enterprise">
    <span>Empreendimentos:</span>
  </div>
  <div class="search-enterprise">
    <span>Buscar: </span>
    <input (keyup)="getEnterprise($event.target.value)">
  </div>
</div>
<div class="cards-enterprises">
  <div class="card-enterprises"  *ngFor="let item of enterprises" >
    <div class="data-enterprise">
      <span >Id: {{item.id}}</span>
      <span >Empreendimento: {{item.name}}</span>
      <span >Cliente: {{item.name_client}}</span>
      <span >Imóveis: {{item.quantity_properties}}</span>

    </div>
    <div class="image-enterprise">
      <img [src]="item.image ? item.image: url">
  </div>
</div>
